Repository hyperium/tonic, pull requests merged in 2021-07, with the labels that each got.

#662 feat(transport): add connect timeout to `Endpoint`
  tonic/Cargo.toml
  tonic/src/transport/channel/endpoint.rs
Labels: A-tonic

#692 feat(tonic): compression support
  Cargo.toml
  examples/Cargo.toml
  examples/src/compression/client.rs
  examples/src/compression/server.rs
  tests/compression/Cargo.toml
  tests/compression/build.rs
  tests/compression/proto/test.proto
  tests/compression/src/bidirectional_stream.rs
  tests/compression/src/client_stream.rs
  tests/compression/src/compressing_request.rs
  tests/compression/src/compressing_response.rs
  tests/compression/src/lib.rs
  tests/compression/src/server_stream.rs
  tests/compression/src/util.rs
  tonic-build/Cargo.toml
  tonic-build/src/client.rs
  tonic-build/src/server.rs
  tonic/Cargo.toml
  tonic/benches/decode.rs
  tonic/src/client/grpc.rs
  tonic/src/codec/compression.rs
  tonic/src/codec/decode.rs
  tonic/src/codec/encode.rs
  tonic/src/codec/mod.rs
  tonic/src/codec/prost.rs
  tonic/src/codegen.rs
  tonic/src/lib.rs
  tonic/src/metadata/map.rs
  tonic/src/response.rs
  tonic/src/server/grpc.rs
Labels: A-tonic, C-enhancement

#701 fix(tonic): don't remove reserved headers in interceptor
  tonic/src/client/grpc.rs
  tonic/src/request.rs
  tonic/src/service/interceptor.rs
Labels: A-tonic

#705 doc(tonic): mention tower-http's tracing middleware
  tonic/src/service/interceptor.rs
Labels: T-docs

#706 chore: Prepare v0.5 release
  CHANGELOG.md
  examples/helloworld-tutorial.md
  examples/routeguide-tutorial.md
  tonic-build/Cargo.toml
  tonic-build/src/lib.rs
  tonic-health/Cargo.toml
  tonic-health/src/lib.rs
  tonic-reflection/Cargo.toml
  tonic-reflection/src/lib.rs
  tonic-types/Cargo.toml
  tonic-web/Cargo.toml
  tonic/Cargo.toml
  tonic/src/lib.rs
Labels: T-release

#710 feat(examples): add grpc-web example
  examples/Cargo.toml
  examples/src/grpc-web/client.rs
  examples/src/grpc-web/server.rs
  tonic-web/README.md
Labels: T-docs

#707 chore: fix clippy lints
  examples/src/blocking/client.rs
  examples/src/reflection/server.rs
  examples/src/tower/client.rs
  tonic-build/src/client.rs
  tonic-build/src/lib.rs
  tonic-build/src/server.rs
  tonic-reflection/src/lib.rs
  tonic-reflection/src/server.rs
  tonic-reflection/tests/server.rs
  tonic-web/src/call.rs
  tonic-web/src/cors.rs
  tonic-web/tests/integration/tests/grpc.rs
  tonic/src/codec/prost.rs
  tonic/src/metadata/map.rs
  tonic/src/metadata/value.rs
  tonic/src/status.rs
  tonic/src/transport/channel/mod.rs
  tonic/src/transport/service/reconnect.rs
  tonic/src/transport/service/tls.rs
Labels: C-cleanup

#719 fix(build): remove unnecessary `Debug` constraint for client streams
  tonic-build/src/client.rs
Labels: A-build

#709 fix(build): allow services to be named `Service`
  Cargo.toml
  tests/service_named_service/Cargo.toml
  tests/service_named_service/build.rs
  tests/service_named_service/proto/foo.proto
  tests/service_named_service/src/lib.rs
  tonic-build/src/client.rs
  tonic-build/src/server.rs
Labels: A-build

#720 chore: Prepare tonic-build v0.5.1
  CHANGELOG.md
  tonic-build/Cargo.toml
  tonic-build/src/lib.rs
Labels: A-build, T-release
