Repository hyperium/tonic, pull requests merged in 2021-06, with the labels that each got.

#623 fix(build): generate root crate paths correctly
  Cargo.toml
  tests/root-crate-path/Cargo.toml
  tests/root-crate-path/build.rs
  tests/root-crate-path/foo.proto
  tests/root-crate-path/src/main.rs
  tonic-build/src/prost.rs
Labels: A-build

#661 doc: mention Well Known Types in README
  README.md
Labels: T-docs

#657 feat(tonic): expose setting for `http2_adaptive_window`
  tonic/src/transport/channel/endpoint.rs
  tonic/src/transport/service/connection.rs
Labels: A-tonic

#612 add h2::Error as a `source` for tonic::Status when converting from h2::Error
  tonic/src/client/grpc.rs
  tonic/src/codec/decode.rs
  tonic/src/codec/prost.rs
  tonic/src/status.rs
  tonic/src/transport/server/recover_error.rs
Labels: breaking change
